:root {
	--primary: #000000;
	--secondary: #99B2C6;
	--text-100: #484964;
	--text-200: #808192;
	--text-300: #D2D7DE;
	--gray: #5D6C7E;
	--blue-100: #3678F6;
	--blue-200: #E9F4FE;
	--green: #09C269;
	--red: #FA5757;
	--purple: #644DED;
	--white: #FFFFFF;
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: var(--text-100)
}

body {
	min-height: 100vh;
	background: #F1F4FA;
	overflow-x: hidden;
}

#root {
	width: 100%;
	height: 100vh;
	padding: 50px 40px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
	margin-block: 30px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 20px;
}

fieldset {
	border: none;
}

.scroll-block {
	overflow: hidden;
}

.separator {
	height: 1px;
	width: 100%;
	background: rgba(153, 178, 198, .2);
	display: block;
}

.toast {
	background: var(--white) !important;
	color: var(--text-100) !important;
	font-weight: 500 !important;
	font-size: 14px;
}

.toast > svg {
	width: 40px;
}

.dialogOverlay {
	background-color: rgba(0, 0, 0, .25);
	position: fixed;
	inset: 0;
}

.dialogContent {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dialogContent:focus {
	outline: none;
}

.dialogContent > div {
	max-height: 90vh;
    overflow-y: auto;
    border: 2px solid var(--white);
}

div.MuiDataGrid-root {
	border-radius: 15px;
	font-size: 14px;
	font-weight: 500;
}

div.MuiDataGrid-root .MuiDataGrid-cell {
	height: 56px;
}

div.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
	color: var(--white);
	font-size: 15px;
	font-weight: 600;
}

div.MuiDataGrid-root .MuiSvgIcon-root {
	fill: var(--white);
}

div.MuiTablePagination-actions button svg {
	fill: var(--primary) !important;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
	background-color: '#F9F9FC'
}

div.MuiDataGrid-root .MuiDataGrid-columnHeader, div.MuiDataGrid-root .MuiDataGrid-row--borderBottom {
	background-color: var(--primary);
	font-weight: 600;
	border-bottom: none;
	min-height: 48px !important;
	max-height: 48px !important;
}

div.MuiDataGrid-row div.MuiDataGrid-cell:nth-child(2), 
div.MuiDataGrid-columnHeaders div.MuiDataGrid-columnHeader:nth-child(2),
div.MuiDataGrid-row div.MuiDataGrid-cell:nth-last-child(2), 
div.MuiDataGrid-columnHeaders div.MuiDataGrid-columnHeader:nth-last-child(3) {
	padding-inline: 20px;
}

.rc-virtual-list-holder-inner {
	pointer-events: auto;
}

div.MuiDataGrid-virtualScroller {
	overscroll-behavior: none;
}

.ql-editor p {
    font-weight: 500;
}

.ql-size-small {
	font-size: 0.75em
}

.ql-size-large {
	font-size: 1.5em
}

.ql-size-huge {
	font-size: 2.5em
}

.ql-direction-rtl {
	direction: rtl;
	text-align: inherit;
}

.ql-align-center {
	text-align: center
}

.ql-align-justify {
	text-align: justify
}

.ql-align-right {
	text-align: right
}

blockquote {
	border-left: 4px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 16px;
}