:root {
	--primary: #000000;
	--secondary: #99B2C6;
	--text-100: #484964;
	--text-200: #808192;
	--text-300: #D2D7DE;
	--gray: #5D6C7E;
	--blue-100: #3678F6;
	--blue-200: #E9F4FE;
	--green: #09C269;
	--red: #FA5757;
	--purple: #644DED;
	--white: #FFFFFF;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: var(--text-100)
}

body {
	min-height: 100vh;
	background: #F1F4FA;
	overflow-x: hidden;
}

#root {
	width: 100%;
	height: 100vh;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
	margin: 60px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 20px;
}

fieldset {
	border: none;
}

.scroll-block {
	overflow: hidden;
}

.separator {
	height: 1px;
	width: 100%;
	background: #2E323A;
	display: block;
}

.toast {
	background: var(--bg-300) !important;
	color: var(--red-100) !important;
	font-weight: 500 !important;
}

.toast > svg {
	width: 30px;
}
