.primary {
	color: var(--text-100);
}

.secondary {
	color: var(--secondary);
}

.red {
	color: var(--red)
}

.l {
	font-size: 16px;
	font-weight: 600;
}

.m {
	font-size: 14px;
	font-weight: 500;
}

.s {
	font-size: 12px;
	font-weight: 400;
}

.xs {
	font-size: 10px;
	font-weight: 400;
}