.dropzone {
	border: 1px dashed var(--gray);
	border-radius: 5px;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	position: relative;
}

div:has(> .dropzone) {
	width: 100%;
}

.dropzone img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	padding-block: 3px;
}

.dropzone p {
	color: var(--gray);
	font-weight: 500;
	text-align: center;
	font-size: 14px;
    padding: 5px;
}

.isDragActive {
	background: var(--blue-200);
}

.label {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
}

.fileIsLoad {
	border-style: solid;
	cursor: default;
}

.trashButton {
	position: absolute;
	top: 10px;
	right: 10px;
}

.trashButton svg {
	width: 25px;
	height: 25px;
}

.uploadedFileString {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-top: 11px;
}

.uploadedFileString p {
	border-bottom: 1px solid transparent;
	color: var(--blue-100);
}

.uploadedFileString p:hover {
	border-color: var(--blue-100);
}

.uploadedFileString button svg {
	display: block;
}

.error {
	font-size: 14px;
    font-weight: 400;
    color: var(--red);
    margin-top: 4px;
}