.title {
	margin-bottom: 15px;
}

.editableProp:not(:first-child) {
	margin-top: 10px;
}

.label {
	margin-bottom: 5px;
}

.select {
	width: 100%;
    color: var(--text-100);
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
	height: auto;
}

.select > div {
	padding: 4px 24px 4px 12px !important;
}

.select span {
	line-height: 100% !important;
}