.titleWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.titleWrapper span {
	display: block;
    text-align: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--blue-100);
    color: var(--white);
    font-size: 22px;
    line-height: 150%;
}

.list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
}