.input {
	width: 100%;
	padding: 10px 24px 10px 12px;
	border: 1px solid var(--text-100);
	color: var(--text-100);
	font-size: 14px;
	font-weight: 500;
	border-radius: 5px;
	transition: .2s all ease;
}

.input:placeholder-shown {
	border-color: var(--text-300);
}

.input::placeholder {
	color: var(--text-300);
}

.input:not(:disabled):hover {
	border-color: var(--blue-100);
}

.input:focus {
	outline: 3px solid var(--blue-200);
	border: 1px solid var(--blue-100);
}

.label {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
}

.error {
	font-size: 14px;
	font-weight: 400;
	color: var(--red);
	margin-top: 4px;
}

.addonWrapper {
	display: flex;
}

.addonWrapper input {
	border-radius: 0px 5px 5px 0px;
}

.addonWrapper .addon {
	border-radius:  5px 0px 0px 5px;
}

.addon {
	width: auto;
	padding: 10px;
    background: var(--text-100);
    color: var(--white);
	font-size: 14px;
	font-weight: 500;
}
