.actions {
	display: flex;
	align-items: center;
	gap: 30px;
	height: 100%;
}

.actions button {
	font-size: 17px;
}

.actions > button:first-of-type {
	margin-bottom: 4px;
}

.table {
	margin-top: 24px;
	max-height: 520px;
}

.link {
	color: var(--purple);
}

.select {
	max-height: 40px;
}

.table > div:first-of-type > div:first-of-type > div:nth-of-type(2) > div:nth-of-type(2) > div:first-of-type > div > div:nth-child(3) {
	overflow: auto;
	text-overflow: clip;
	z-index: 100;
}