.page {
	padding-bottom: 25px;
}

.title {
	margin-top: 15px;
}

.wrapper {
	background: var(--white);
	margin-top: 20px;
	border-radius: 18px;
	padding: 30px 40px;
	display: flex;
	gap: 75px;
}

.wrapper > div {
	flex-grow: 1;
}

.saveButton, .wrapper {
	max-width: 1024px;
}

.saveButton {
	margin-top: 20px;
}

.saveButton:disabled {
	cursor: default;
}