.link {
	display: flex;
	gap: 15px;
	padding: 36px 35px;
	border-radius: 21px;
	background: var(--white);
	align-items: center;
	width: 100%;
}

.circle {
	flex-shrink: 0;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: var(--color);
	position: relative;
}

.circle span {
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background: var(--white);
	display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	color: var(--color);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	line-height: 49px;
}

.description {
	margin-top: 5px;
}