.switch {
	position: relative;
	border-radius: 16px;
	width: 57px;
	height: 28px;
	background: var(--secondary);
	transition: .3s all ease;
}

.switch::after {
	content: '';
	position: absolute;
	left: 3px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	background: var(--white);
	transition: .3s all ease;
}

.enable {
	background: var(--blue-100);
}

.enable::after {
	left: calc(100% - 25px);
}