.card {
	padding: 25px 35px;
	background: var(--white);
	border-radius: 21px;
	position: relative;
	overflow: hidden;
	min-height: 155px;
	box-shadow: 0px 2px 5px rgba(0,0,0, .15);
}

.actions {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.content {
	padding-right: 35px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.actions > * {
	flex: 1;
	width: 43px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
	background: var(--blue-100);
}

.green {
	background: var(--green);
}

.red {
	background: var(--red);
}